.js #things {
	opacity: 0;
}

.no-js #things {
	opacity: 1;
}

.no-js .working-on-things {
	display: none;
}

a {
	color: black;
}

body {
	padding-left: 25px;
	padding-right: 25px;
}

body canvas {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -10;
	opacity: 0;
}

#bio {
	padding-bottom: 1em;
}

#things a, 
#things a:visited {
	text-decoration: none;
	transition: all linear 0.2s;
	color: #585858;
}

#things a:hover,
#things p:hover a,
#things li:hover a {
	opacity: 1;
	color: black;
}

#things .awards,
#things .projects {
	
}

.links-row {
	padding-top: 12px;
}

.links-row span {
	opacity: 0.7;
	padding-left: 4px;
	padding-right: 4px;
	transition: all linear 0.2s;
}

.links-row span:hover {
	opacity: 1;
}

.links-row .nav-phone,
.links-row .nav-website {
	display: none;
}

.logo img {
	opacity: 0.9;
	transition: all linear 0.2s;
}

.logo img:hover {
	opacity: 1;
}

.nav-phone {

}

.no-decoration {
	text-decoration: none;
}

.school-stuff {
	/*padding-left: 2em;*/
}

.things-ive-done {
	display: none;
}

.uni-text {
	font-size: 16px;
}

/*** emoji.js ***/
.emoji {
    width: 1em;
    height: 1em;
    display: inline-block;
    margin-bottom: -0.25em;
}

/*** github-js ***/

.gt-header { 
	display: none;
}

.gt-container {
	border: none;
	background: none;
}

.gt-activity-cnt {
	background: none;
}

.gt-activity {
	border-top: none;
}

/***  CSS animations ***/

/* Float */
.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

/* Rotate */
.hvr-rotate {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-rotate:hover, .hvr-rotate:focus, .hvr-rotate:active {
  -webkit-transform: rotate(1deg);
  transform: rotate(1deg);
}


/* When printing */
@media print {

	p,
	a,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: black !important;
	}
	p {
		font-size: 14px;
	}	
	h2 {
		font-size: 22px;
	}		
	h3 {
		font-size: 20px;
		margin-top: 0.75em;
	}	
	h4 {
		font-size: 18px;
		margin-top: 0.5em;
	}
	.logo span a {
		font-style: 12px;
	}

	#bio {
	padding-bottom: 0em;
	}

	.logo img {
		width: 20%;
		float: right;
	}

	.logo .links-row {
		width: 70%;
		float: left;
	}

	.logo .links-row i {
		width: 2em;
	}

	a {
		text-decoration: none;
	}

	a[href]:after {
	content:attr(href);
	padding-left: 1em;
	}

	.links-row span {
		display: block;
	}

	.links-row {
		text-align: left;
	}

	.logo-link {
		height: 0;
	}	

	.logo-link[href]:after {
	content: "";
	}

	.links-row .nav-phone,
	.links-row .nav-website {
		display: inline-block;
	}

	#things a[href]:after {
		content:"";
		padding-left: 0;
	}

	.retention-projects {
		display: none;
	}

	.things-i-know,
	.things-i-wanna-know {
		width: 100%
	}

	.things-i-made-happen {
		width: 100%;
	}	

	.things-i-made-happen .schools {
		width: 45%;
		float: right;
	}	
	.things-i-made-happen .awards {
		width: 55%;
		float: left;
	}	

	.things-i-made-happen .projects {
		width: 100%;
		float: left;
	}	

	.things-i-made-happen .projects .col-6{
		width: 100%;
		float: left;
	}	

	.things-i-made-happen .projects a[href]:after {
	content: " (" attr(medium) ")" !important;
	font-size: 10px;
	}

	.no-margin-print {
		margin: !important;
	}

	.things-ive-done {
		display: inline-block;
		width: 90%;
	}

/*	.links-row span,
	.links-row a,
	.links-row a:visited,
	.links-row i {
		color: black !important;
		opacity: 1 !important;
	}*/

	#bio .part-1 {
		margin-top: 0.5em;
	}

	.breakpoint {
		page-break-before: always;
	}

	.things-i-know,
	.things-i-wanna-know, {
		float: left !important;
	}

	.things-i-made-happen  {
		float: left;
	}

	.schools {
		padding-top: 1.33em
	}

	.hide-print {
		display: none;
	}

	.schools {
		padding: none;
	}

	.footer {
		margin-top: 25px;
	}

	.projects p {
		font-size: 16px;
	}

	.schools {
		padding-top: 0;
		padding-left: 0;
		padding-right: 0;
	}

	.show-print {
		display: inline-block;
	}

	canvas,
	.links-row .nav-cv,
	.links-row .nav-portfolio,
	.links-row .nav-writing,
	#bio .part-2,
	.working-on-things {
		display: none;
	}
}