.js #things {
	opacity: 0;
}

.no-js #things {
	opacity: 1;
}

.no-js .working-on-things {
	display: none;
}

a {
	color: black;
}

body {
	padding-left: 25px;
	padding-right: 25px;
}

body canvas {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -10;
	opacity: 0;
}
#things a, 
#things a:visited {
	text-decoration: none;
	transition: all linear 0.2s;
	color: #585858;
}

#things a:hover,
#things p:hover a,
#things li:hover a {
	opacity: 1;
	color: black;
}

#things .awards,
#things .projects {
	
}

.links-row {
	padding-top: 12px;
}

.links-row span {
	opacity: 0.7;
	padding-left: 4px;
	padding-right: 4px;
	transition: all linear 0.2s;
}

.links-row span:hover {
	opacity: 1;
}

.logo img {
	opacity: 0.9;
	transition: all linear 0.2s;
}

.logo img:hover {
	opacity: 1;
}

.no-decoration {
	text-decoration: none;
}

.school-stuff {
	/*padding-left: 2em;*/
}

/*** emoji.js ***/
.emoji {
    width: 1em;
    height: 1em;
    display: inline-block;
    margin-bottom: -0.25em;
}

/*** github-js ***/

.gt-header { 
	display: none;
}

.gt-container {
	border: none;
	background: none;
}

.gt-activity-cnt {
	background: none;
}

.gt-activity {
	border-top: none;
}

/* Tiny bit of http://lea.verou.me/2012/04/background-attachment-local/ */
.gt-scrollbar {
	background:		
		/* Shadows */
		radial-gradient(farthest-side at 50% 100%, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
	background-repeat: no-repeat;
	background-size: 100% 20px, 100% 20px, 100% 14px, 100% 14px;
	
	/* Opera doesn't support this in the shorthand */
	background-attachment: local, local, scroll, scroll;
}

.gt-scrollbar::-moz-scrollbar-thumb,
.gt-scrollbar::-webkit-scrollbar-thumb {
	background: rgba(255,255,255,0.4) !important; 
}

.gt-scrollbar::-moz-scrollbarthumb-vertical,
.gt-scrollbar::-webkit-scrollbar-track-piece {
 background: transparent; 
 border: none; 
}

/***  CSS animations ***/

/* Float */
.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

/* Rotate */
.hvr-rotate {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-rotate:hover, .hvr-rotate:focus, .hvr-rotate:active {
  -webkit-transform: rotate(1deg);
  transform: rotate(1deg);
}