.js #things {
	opacity: 0;
}

.no-js #things {
	opacity: 1;
}

.no-js .working-on-things {
	display: none;
}

a {
	color: black;
}

body {
	padding-left: 25px;
	padding-right: 25px;
}

body canvas {
	position: absolute;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -10;
	opacity: 0;
}

.links-row span {
	opacity: 0.7;
	padding-left: 4px;
	padding-right: 4px;
	transition: all linear 0.2s;
}

.links-row span:hover {
	opacity: 1;
}

.logo img {
	opacity: 0.8;
	transition: all linear 0.2s;
}

.logo img:hover {
	opacity: 1;
}

.no-decoration {
	text-decoration: none;
}

.school-stuff {
	padding-left: 2em;
}

#things {
	margin-bottom: 30px;
}


#things a {
	color: #585858;
}

.footer {
	min-height: 25px;
}

.gt-header { 
	display: none;
}

.gt-container {
	border: none;
	background: none;
}

.gt-activity-cnt {
	background: none;
	overflow: hidden;
}

.gt-activity {
	border-top: none;
}